$mainColor: #FF0000;
$secondaryTextColor: #A4A7A8;
$thirdTextColor: #D3D3D3;
$orderHeaderColor: #474949;
$orderDesColor: #A4A7A8;

$cardBorderRadius: 10px;

$buttonColor: #57C5E7;
$buttonTextColor: #FFFFFF;
$buttonFontWeight: 500;

$mainFWeight: 550;
$mainSecFWeight: 400;

$cardOrderMainFWeight: 400;
$cardOrderSecFWeight: 550;

$headerColor: #EC5344;
$footerColor: #57C5E7

