@import 'variables';
@import 'mediaQueries';
@import 'landing';
@import 'appsAndDrinks';

 * {
    box-sizing: border-box;
    font-family: sans-serif;
}

body, main, p, button {
    margin: 0;
    main {
        padding: 5vw;
    }
}

header, header + h1 {
    background-color: $headerColor;
    h1 {
        color: white;
        letter-spacing: .2em;
    }
}

footer {
    background-color: #57C5E7;
    color: white;
    letter-spacing: .2em;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    box-shadow: 11px -21px 21px rgba(0, 0, 0, .1);

}

button, a, h5, h4 {
    border: 1px white solid;
    background-color: $buttonColor;
    color: $buttonTextColor;
    text-decoration: none;
    min-width: 230px;
    min-height: 40px;
    font-size: 1.5em;
    font-weight: $buttonFontWeight;
    padding: .2em .2em;
    text-align: center;
    #cancelOrder {
        font-size: .75em;
    }
}

p {
        text-align: center;
}

@import 'toggleClasses';
