<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HappyHour Pal</title>
    <!-- appyprice, myappyhour, yourappyhour, ourappyhour, justoneappy, appyhookup, happyhourexplorer, buymyhour, happyhourmaker, hourmaker, appyhourdeal, appyhourscore 
    appyexplorer, lowertab, hourreward, appyscore -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" >
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</head>
<body>
  <header class="hidden">
    <nav>
      <h1>Under Construction</h1>
      <ul>
        <li>
          <a href="#">Nav item 1</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="apList" class="appetizerList">
    </section>
    <section id="apOrder" class="order hidden">
      <atricle class="orderPopUp">
        <div class="orderContainer">
            <p id="orderNumber">Order Number</p>
            <p>First Name</p>
            <h4 type="button" class="closePopUp">Sounds Good</h4>
            <!-- <a id="cancelTrigger">Changed Your Mind?</a> -->
        </div>
        <div class="cancelOrderPopUp hidden">
            <button type="button" class="cancelOrder">Delete Order</button>
            <h5 id="goBack">Keep Order & Go Back</h5>
        </div>      
      </atricle>
    </section>
  </main>
  <footer class="hidden">
    <h4>Footer</h4>
  </footer>
  <script src="scripts/app.js"></script>
</body>
</html>