<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Drink Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/main.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Drinks of the Day</h1>
    </header>
    <main>
        <section class="drinkList">
        </section>
        <section class="order hidden">
            <article class="orderPopUp">
                <div class="orderContainer">
                    <p id="orderNumber">Order Number</p>
                    <p>First Name</p>
                    <button type="button" class="closePopUp">Sounds Good</button>
                </div>
                <div class="cancelOrderPopUp">
                    <button type="button" class="cancelOrder">Delete Order</button>
                </div>
            </article>
        </section>
  </main>
  <script src="scripts/app.js"></script>
</body>
</html>

