<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/landing.css" />
    <script src="main.js"></script>
</head>
<body>
    <header>
        <h1></h1>
    </header>
    <video autoplay muted loop id="myVideo">
        <source src="images/landing.mp4" type="video/mp4">
    </video>
    <section class="loginSignUp hidden">
        <div class="signUpBox">
            <h1>Sign Up</h1>
                <input type="text" name="firstName" placeholder="First Name"/>
                <input type="text" name="lastName" placeholder="Last Name"/>
                <input type="text" name="username" placeholder="Username"/>
                <input type="password" name="password" placeholder="Password"/>
                <input type="password" name="password2" placeholder="Re-Type Password"/>
                <input type="submit" name="signUpButton" value="Sign Up"/>
        </div>
        <div class="loginBox">
            <h1>Log In</h1>
                <input type="text" name="username" placeholder="Username"/>
                <input type="password" name="password" placeholder="Password"/>
                <input type="submit" name="loginButton" value="Log In"/>
        </div>
        <div class="or">OR</div>
    </section>
    <section class="drinkAppChoice">
        <div class="appetizerOptions">
            <h1 id="appetizerButton">Appetizer</h1>
        </div>
        <div class="drinkOptions">
            <h1 id="drinkButton">Drink</h1>
        </div>
    </section>
    <script src="scripts/app.js"></script>
</body>
</html>
