* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body, main, p, button {
  margin: 0;
}

button, a, h5, h4 {
  border: 1px white solid;
  background-color: #57C5E7;
  color: #FFFFFF;
  text-decoration: none;
  min-width: 230px;
  min-height: 40px;
  font-size: 1.5em;
  font-weight: 500;
  padding: 0.2em 0.2em;
  text-align: center;
}
button #cancelOrder, a #cancelOrder, h5 #cancelOrder, h4 #cancelOrder {
  font-size: 0.75em;
}

.signUp h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 300px;
  width: 340px;
  padding: 1em;
  border: 3px solid #ccc;
  border-radius: 2.5em;
}

form div + div {
  margin-top: 1em;
}

input[type=text], input[type=password] {
  font: 1em;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus {
  border-color: #000;
}

input[type=submit] {
  margin: 0 auto;
  display: block;
  transition-duration: 0.4s;
  padding: 10px 40px;
  border-radius: 20px;
  font-size: 15px;
}

input[type=submit]:hover {
  background-color: #999999;
  color: white;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  border: 2px white solid;
}

.appHeader {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
  box-shadow: -11px 21px 21px rgba(0, 0, 0, 0.1);
}

.appH1 {
  height: 4vh;
  margin: 0.25em;
  display: block;
  align-self: flex-end;
}

.appetizerList, .drinkList {
  display: grid;
  grid-row-gap: 85px;
  grid-column-gap: 85px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
}

.appCard, .textContainer, .descriptionPopUp, .drinkCard {
  display: block;
  width: 100%;
  box-shadow: -11px 21px 21px rgba(0, 0, 0, 0.1);
}

.appImg, .drinkImg {
  z-index: -1;
  position: absolute;
}

.appCard, .appImg, .textContainer, .drinkCard, .drinkImg {
  border-radius: 10px;
}

.textWrapper, .textWrapperPopUp, .textWrapper {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.appCard, .drinkCard {
  display: flex;
  flex-direction: column;
}

.textContainer {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 240px;
  max-height: 240px;
}

p {
  text-align: center;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.8em 1em;
}
.textWrapper :first-child {
  font-size: 1.15em;
  color: #FF0000;
  font-weight: 550;
}
.textWrapper :nth-last-child(2) {
  font-size: 0.9em;
  color: #A4A7A8;
  font-weight: 400;
}
.textWrapper :last-child {
  color: #D3D3D3;
  font-weight: 400;
  font-size: 0.85em;
}

.textContainerPopUp {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 240px;
  max-height: 240px;
  background-color: rgba(255, 255, 255, 0.35);
}
.textContainerPopUp :first-child {
  color: #FF0000;
  font-weight: 400;
}

.textWrapperPopUp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 240px;
  max-height: 240px;
  padding: 0.8em 1em;
  font-size: 1em;
}
.textWrapperPopUp :first-child {
  color: #474949;
  font-size: 1.5em;
  font-weight: 400;
}

.appetizerOptions, .drinkOptions {
  height: 50vh;
  width: 100vw;
  border: 1px white solid;
}

#appetizerButton, #drinkButton {
  font-size: 3em;
  border: 1px white solid;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.15);
}

.orderItem {
  align-self: center;
}

.appCard, .drinkCard {
  transition: transform 0.2s;
}

.appCard:hover, .drinkCard:hover {
  transform: scale(1.05);
}

.order {
  background-color: rgba(0, 0, 0, 0.65);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orderPopUp {
  background-color: #FF0000;
  display: block;
}

#orderNumber {
  font-size: 4em;
}

#instructions {
  border: 1px white solid;
  border-radius: 10px;
  padding: 0.5em;
}
#instructions em {
  font-size: 1.35em;
  font-weight: 800;
}

.orderPopUp, .cancelOrderPopup {
  border: 2px white dashed;
}

.orderContainer, .orderPopUp, .cancelOrderPopUp {
  max-width: 275px;
  min-width: 275px;
  min-height: 400px;
}

.orderContainer, .cancelOrderPopUp {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 1em;
}

#appVideo {
  width: 100%;
}

.hidden {
  display: none;
}

.orderBackground {
  background-color: rgba(10, 10, 10, 0.75);
}

.relativePosition {
  position: relative;
}

.absolutePosition {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

@media only screen and (max-width: 330px) {
  .appHeader {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
  }
}

/*# sourceMappingURL=main.css.map */
